# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Self.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Documents\Unity\vuforiaL\Assets\Self\.idea\.idea.Self.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
